<main>
  <h5>会員情報編集</h5>

  <%= render 'public/error', error: @customer %>

  <div class = "container">
    <div class = "row">

      <%= form_with model: @customer, url: customers_information_path, method: :patch do |f| %>

      <div class="field">
        名前
        (姓)
        <%= f.text_field :last_name, autofocus: true, autocomplete: "last_name" %>
        (名)
        <%= f.text_field :first_name, autocomplete: "first_name" %>
      </div>

      <div class="field">
        フリガナ
        (セイ)
        <%= f.text_field :last_name_kana, autocomplete: "last_name_kana" %>
        (メイ)
        <%= f.text_field :first_name_kana, autocomplete: "first_name_kana" %>
      </div>

      <div class="field">
        郵便番号
        <%= f.number_field :postal_code, autocomplete: "postal_code" %>
      </div>

      <div class="field">
        住所
        <%= f.text_field :address, autocomplete: "address" %>
      </div>

      <div class="field">
        電話番号
        <%= f.telephone_field :telephone_number, autocomplete: "telephone_number" %>
      </div>

      <div class="field">
        メールアドレス
        <%= f.email_field :email, autocomplete: "email" %>
      </div>

      <div class="actions">
        <%= f.submit "編集内容を保存", class: "btn btn-sm btn-success" %>
      </div>

      <%= link_to "退会する", customers_confirmation_path, class: 'btn btn-sm btn-danger' %>

      <% end %>

    </div>
  </div>
</main>