<main>
  <h4><%= @customer.last_name %>さんの会員情報編集</h4>
  <%= render 'partial_template/error', error: @customer %>
  <div class = "container">
    <div class = "row">
      <div class = "col-sm-9">
        <%= form_with model: @customer, url: admin_customer_path do |f| %>
        
        <div class = "row">
          <div class = "col-sm-3">会員ID</div>
          <div class = "col-sm-9"><%= @customer.id %></div>
        </div>

        <%= render 'partial_template/customer_edit', f: f %>

        <div class = "row mt-2">
          <div class = "col-sm-3">会員ステータス</div>
          <div class = "col-sm-9">
            <%= f.radio_button :is_active, :false %>
            <%= f.label :is_active, "有効", {style: "display: inline-block;"} %>

            <%= f.radio_button :is_active, :true %>
            <%= f.label :is_active, "退会", {style: "display: inline-block;"} %>
          </div>
        </div>

          <div class = "offset-sm-3">
            <%= f.submit "変更を保存", class: "btn btn-success" %>
          </div>
        </div>
        <% end %>

      </div>
    </div>
  </div>
</main>