<main>
  <h4>ジャンル一覧・追加</h4>
   <p id = "notice"></p>
   <div class = "container">
    <div class = "row">
     <div class = "col-sm-9">

      <%= render 'admin/error', error: @genre %>

      <%= form_with model: @genre, url: admin_genres_path do |f| %>
      <%= render 'admin/genres/genre', text: "新規登録", f: f %>
      <% end %>

      <div class = "row">
       <table class = "col-sm-5">
        <thead bgcolor = "#C0C0C0">
         <tr>
          <th class = "col-sm-6">ジャンル</th>
          <th class = "col-sm-3"></th>
         </tr>
        </thead>

        <tbody>
          <% @genres.each do |f| %>
         <tr>
          <td class = "col-sm-6">
           <%= f.name %>
          </td>
          <td class = "col-sm-6">
           <%= link_to edit_admin_genre_path(f), class: 'btn btn-sm btn-success' do %>
           編集する
          </td>
         </tr>
         <% end %>
         <% end %>
        </tbody>
       </table>
      </div>

      <%= paginate @genres %>

    </div>
  </div>
 </div>
</main>