<main>
  <h5>配送先登録/一覧</h5>

  <%= render 'public/error', error: @address %>

  <p id="notice"></p>
  <div class = "container">
    <div class = "row">
      <div class = "col-sm-8">

        <%= form_with model: @address, url: address_path, method: :patch do |f| %>

        <div class="field">
          郵便番号(ハイフンなし)
          <%= f.number_field :postal_code, autocomplete: "postal_code", :placeholder => "0000000" %>
        </div>

        <div class="field">
          住所
          <%= f.text_field :address, autocomplete: "address", :placeholder => "東京都渋谷区神園町0-0" %>
        </div>

        <div class="field">
          宛名
          <%= f.text_field :name, autocomplete: "name", :placeholder => "令和道子" %>
        </div>

        <div class="actions">
          <%= f.submit "変更内容を保存", class: "btn btn-success" %>
        </div>
        <% end %>

      </div>
    </div>
  </div>
</main>