<main>
  <h5>配送先登録/一覧</h5>
  <p id="notice"></p>
  <div class = "container">
    <div class = "row">
      <div class = "col-sm-8">
        <%= render 'partial_template/error', error: @address %>

        <%= form_with model: @address, url: addresses_path, method: :post do |f| %>
          <%= render 'partial_template/addres_content', f: f, text: "新規登録" %>
        <% end %>

        <div class="row mt-2">
          <table class = "col-sm-12" border = "2">
            <thead>
              <tr>
                <th bgcolor = "#C0C0C0">郵便番号</th>
                <th bgcolor = "#C0C0C0">住所</th>
                <th bgcolor = "#C0C0C0">宛名</th>
                <th bgcolor = "#C0C0C0"></th>
              </tr>
            </thead>
            <tbody>
              <% @addresses.each do |addresses| %>
              <tr>
                <td><%= addresses.postal_code %></td>
                <td><%= addresses.address %></td>
                <td><%= addresses.name %></td>
                <td>
                  <div  class = "text-center mb-2 mt-2">
                  <%= link_to "編集する", edit_address_path(addresses), class: 'btn btn-sm btn-success' %>
                  <%= link_to "削除する", address_path(addresses), class: 'btn btn-sm btn-danger', method: :delete %>
                  </div>
                </td>
              </tr>
              <% end %>
            </tbody>
          </table>
        </div>

      </div>
    </div>
  </div>
</main>