<main>
 <h5>新規会員登録</h5>
 <div class = "container">
  <div class = "row">

   <%= form_with model: @customer, url: customer_registration_path do |f| %>

   <%= render "public/shared/error_messages", resource: resource %>

   <div class="field">
    名前
    (姓)
    <%= f.text_field :last_name, autofocus: true, autocomplete: "last_name", :placeholder => "令和" %>
    (名)
    <%= f.text_field :first_name, autocomplete: "first_name", :placeholder => "道子" %>
   </div>

   <div class="field">
    フリガナ
    (セイ)
    <%= f.text_field :last_name_kana, autocomplete: "last_name_kana", :placeholder => "レイワ" %>
    (メイ)
    <%= f.text_field :first_name_kana, autocomplete: "first_name_kana", :placeholder => "ミチコ" %>
   </div>

   <div class="field">
    メールアドレス
    <%= f.email_field :email, autocomplete: "email", :placeholder => "sample@example.com" %>
   </div>

   <div class="field">
    郵便番号(ハイフンなし)
    <%= f.number_field :postal_code, autocomplete: "postal_code", :placeholder => "0000000" %>
   </div>

   <div class="field">
    住所
    <%= f.text_field :address, autocomplete: "address", :placeholder => "東京都渋谷区神園町0-0" %>
   </div>

   <div class="field">
    電話番号(ハイフンなし)
    <%= f.telephone_field :telephone_number, autocomplete: "telephone_number", :placeholder => "0000000000" %>
   </div>

   <div class="field">
    パスワード(8文字以上)
    <%= f.password_field :password, autocomplete: "new-password" %>
   </div>

   <div class="field">
    パスワード(確認用)
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
   </div>

   <div class="actions">
    <%= f.submit "新規登録", class: "btn btn-success" %>
   </div>
   <% end %>

  </div>
 </div>
 <h4>既に登録済みの方</h4>
 <p>
   <%= link_to new_customer_session_path do %>
   こちら
   <% end %>
   からログインして下さい。
</p>
</main>