<main>
  <div class = "container">
    <div class = "row">
      <div class = "col-sm-11 offset-sm-1">
        <h5>新規会員登録</h5>

        <%= form_with model: @customer, url: customer_registration_path do |f| %>

        <%= render "public/shared/error_messages", resource: resource %>

        <div class = "row">
          <div class = "col-sm-3">
            <div class = "row">
              <div class = "col-sm-5">
                名前
              </div>
              <div class = "col-sm-4 offset-sm-3">
                (姓)
              </div>
            </div>
          </div>

          <div class = "col-sm-3">
            <%= f.text_field :last_name, autofocus: true, autocomplete: "last_name", :placeholder => "令和" %>
          </div>
          <div class = "col-sm-2">
            <div class = "row">
              <div class = "col-sm-5">
                (名)
              </div>
              <div class = "col-sm-7">
                <%= f.text_field :first_name, autocomplete: "first_name", :placeholder => "道子" %>
              </div>
            </div>
          </div>
        </div>

        <div class="row mt-2">
          <div class = "col-sm-3">
            <div class = "row">
              <div class = "col-sm-5">
                フリガナ
              </div>
              <div class = "col-sm-4 offset-sm-3">
                (セイ)
              </div>
            </div>
          </div>

          <div class = "col-sm-3">
            <%= f.text_field :last_name_kana, autocomplete: "last_name_kana", :placeholder => "レイワ" %>
          </div>
          <div class = "col-sm-2">
            <div class = "row">
              <div class = "col-sm-5">
                (メイ)
              </div>
              <div class = "col-sm-7">
                <%= f.text_field :first_name_kana, autocomplete: "first_name_kana", :placeholder => "ミチコ" %>
              </div>
            </div>
          </div>
        </div>

        <div class="row mt-2">
          <div class = "col-sm-3">
            メールアドレス
          </div>
          <div class = "col-sm-3">
            <%= f.email_field :email, autocomplete: "email", :placeholder => "sample@example.com" %>
          </div>
        </div>

        <div class="row mt-2">
          <div class = "col-sm-3">
            郵便番号(ハイフンなし)
          </div>
          <div class = "col-sm-3">
            <%= f.number_field :postal_code, autocomplete: "postal_code", :placeholder => "0000000" %>
          </div>
        </div>

        <div class="row mt-2">
          <div class = "col-sm-3">
            住所
          </div>
          <div class = "col-sm-6">
            <%= f.text_field :address, autocomplete: "address", :placeholder => "東京都渋谷区神園町0-0" %>
          </div>
        </div>

        <div class="row mt-2">
          <div class = "col-sm-3">
            電話番号(ハイフンなし)
          </div>
          <div class = "col-sm-3">
            <%= f.telephone_field :telephone_number, autocomplete: "telephone_number", :placeholder => "0000000000" %>
          </div>
        </div>

        <div class="row mt-2">
          <div class = "col-sm-3">
            パスワード(8文字以上)
          </div>
          <div class = "col-sm-3">
            <%= f.password_field :password, autocomplete: "new-password" %>
          </div>
        </div>

        <div class="row mt-2">
          <div class = "col-sm-3">
            パスワード(確認用)
          </div>
          <div class = "col-sm-3">
            <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
          </div>
        </div>

        <div class="row mt-2">
          <div class = "offset-sm-3">
            <%= f.submit "新規登録", class: "btn btn-success" %>
          </div>
        </div>
        <% end %>


        <h5>既に登録済みの方</h5>
        <p class = "ml-3">
        <%= link_to "こちら", new_customer_session_path %>
        からログインして下さい。
        </p>
      </div>
    </div>
  </div>
</main>